/* RESPONSIVE */
@media only screen and (max-width: 992px) {
    .header-main h1 {
        font-size: 2.2em;
    }  
}

@media only screen and (max-width: 768px) {
    .header-main {
        margin-top: 5%;
    }  
}

@media only screen and (max-width: 576px) {
    .header-main h1 {
        font-size: 1.7em;
    }  
}