.login-area {
    margin: 3% auto;
    height: 350px;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-btn {
    width: 100%;
    background-color: #ffffff;
    border: 2px solid lightgrey;
    border-radius: 30px;
}

@media only screen and (max-width: 344px) {
    .sign-btn img {
        height: 20px;
    }
    .sign-btn {
        font-size: 14px;
    }
}