.btn-brand {
    background: #111430;
    width: 120px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}

.btn-brand:hover {
    background: #1c2044;
    color: #ffffff;
}

.text-brand {
    color: #111430;
}

.form-area {
    background-color: #ffffff;
    padding: 4%;
    border-radius: 20px;
}